{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block styles %}
<style>
  body {
    background-color: #009579;
  }
  .login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 50%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
  .card {
    max-width: 500px;
  }
  .card-header {
    background-color: darkred;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .card-body {
    padding: 10px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input[type=text], input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .signup{
  font-size: 17px;
  text-align: center;
}

  button[type=submit] {
    
    height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
  }
  button[type=submit]:hover {
    background-color: #006653;
  }
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="card">
    <div class="card-header">Register</div>
    <div class="card-body">
      {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">

          <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username here" required>
        </div>
        <div class="form-group">

          <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email here" required>
        </div>
        <div class="form-group">

          <input type="password" class="form-control" id="password1" placeholder="Enter Password "  name="password1" required>
        </div>
        <div class="form-group">

          <input type="password" class="form-control" id="password2" placeholder="Confirm Password " name="password2" required>
        </div>
        <button type="submit">Register</button>
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <a href="login">Login</a>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
